* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    
    background: linear-gradient(to top right, lightblue, rgb(84, 84, 208), rgb(174, 3, 174));
}

main {
    background-color: white;
    border-radius: 10px;
    margin: 10vh 20vw;
}

.title {
    font-weight: bold;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 180px;
    padding-bottom: 30px;
}

.item {
    color: grey;
    padding-left: 50px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 10px;

}



input, select, textarea {
    font-size: 20px;
    width: 100%;
    padding-top: 20px;
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
  }


  hr {
    margin-left: 50px;
    margin-right: 40px;
  }


  .submit {
    outline: none;
  }


  button{
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 20px 200px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
    border-radius: 100px;
    background: linear-gradient(to right ,rgb(174, 3, 174),  rgb(84, 84, 208), lightblue);
    border: none;
  }


  input:invalid {
    background-color: rgb(248, 196, 196);
    border-radius: 10px;
    padding-left: 10px;
  }

  input:valid {
   background-color: rgb(171, 239, 171);
   border-radius: 10px;
   padding-left: 10px;
  }