* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background: linear-gradient(to top right, blue, purple);
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 40px;
    background-color: rgb(211, 211, 214);
    padding: 100px;
    background-color: white;
}

h1 {
    text-align: center;
    position: relative;
    bottom: 40px;
}

.name > label > input{
    border: none;
    padding-top: 10px;
    padding-bottom: 15px;
    opacity: 50%;
}

.email > input {
    border: none;
    appearance: none;
    padding-top: 10px;
    padding-bottom: 15px;
    opacity: 50%;
}

.email > p {
    padding-top: 20px;
}

.box {
    display: grid;
    grid-template: 
    "label"
    "services"
}


label {
    display: block;
    padding-top: 10px;
}

.budget > select {
    border: none;
    width: 300px;
}

.services-available > select {
    border: none;
    width: 300px;
}

.message > textarea {
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 6px;
    font-size: 16px;
    opacity: 50%;
}

p {
    padding-top: 20px;
    opacity: 60%;
}

input::placeholder {
    border: none;
}

.submit {
    text-align: center;
    padding-top: 30px;
}

.submit > input {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 17px;
    background: linear-gradient(to right, purple, blue,  rgb(92, 177, 206));
    color: white;
    border: none;
}

.message {
    padding-top: 15px;
}

