* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: purple;
  font-family: sans-serif;

  background: linear-gradient(225deg, #e4f, #6dd);
}

main {
  background-color: white;
  margin: 10vh 20vw;

  padding: 32px;
}

h1 {
  text-align: center;
  margin-bottom: 32px;
}

.item-title {
  display: block;
}

.form-item {
  position: relative;
}

.form-item, hr {
  margin-bottom: 8px;
}

.item-title {
  font-size: 0.7rem;
  color: #444;
}

input, select, textarea {
  width: 100%;
  margin-top: 8px;

  background-color: inherit;
  border: none;
  outline: none;
}

img {
  display: none;
  height: 24px;

  position: absolute;
  left: -28px;
  top: 16px;
}

:valid {
  border-bottom: 1px solid white;
}

:valid + img.valid {
  display: unset;
}

:invalid {
  border-bottom: 1px red solid;
}

form:invalid {
  border: none;
}

button[type="submit"] {
  border: none;

  color: white;

  background: linear-gradient(90deg, #e4f, #6dd);

  height: 40px;
  width: 100%;
  border-radius: 40ch;
}