*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(50deg, rgba(104,174,195,1) 0%, rgba(59,211,235,1) 35%, rgba(238,0,255,1) 100%); ;
    /* background: linear-gradient(50deg, rgba(104,174,195,1) 0%, rgba(59,211,235,1) 35%, rgba(238,0,255,1) 100%); */
    background-attachment: fixed;
}
body{
    display: grid;
    place-items: center;
}
form{
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;
    width: 350px;
    padding: 35px;
    font-size: 15px;
}
h1{
    text-align: center;
}
input{
    width: 100%;
    height: 25px;
    border: none;
    padding-top: 10px;
}
textarea{
    width: 100%;
    border: none;
}
select{
    width: 100%;
    height: 25px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(images/sort-arrows-icon.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 8px;
}
button{
    background-image:linear-gradient(50deg, rgba(104,174,195,1) 0%, rgba(59,211,235,1) 35%, rgba(238,0,255,1) 60%); ;
    background-attachment: fixed;
    width: 100%;
    height: 35px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
}
label{
    line-height: 5px;
}
