* {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    background:linear-gradient(to bottom left, rgb(205, 5, 240), cyan);
    margin: 0;
    height: 100vh;
}

.panel {
    width: 400px;
    height: fit-content;
    background-color: white;
    padding: 2rem;
    border-radius: 1.5rem;

    margin-left: auto;
    margin-right: auto;

    align-self: center;
}

h1 {
    text-align: center;
    font-weight: 1000;
    font-size: 2rem;
    color: #313436;

    margin: 0;
    margin-bottom: 1.5rem;
}

label {
    color: #C5C2BF;
    font-size: 1rem;
}

form {
    display: grid;
}
form input, select {
    border: none;
    height: 2.5rem;
    color: #473F46;
    font-size: 1.3rem;
}

form hr {
    width: 100%;
    margin-bottom: 20px;
    border: 0.5px solid rgb(223, 220, 220);
}
form textarea {
    border: none;
    resize: none;
    font-size: 1.3rem;
}

button {
    border-radius: 2rem;
    background:linear-gradient(to right, rgb(205, 5, 240), cyan);
    padding: 1rem;
    border: none;
    color: white;
}

