
/*main layout*/

body {
    background: linear-gradient(45deg, rgb(96, 203, 230), rgb(179, 69, 216));
    height: 100vh;
    font-family: "Arial", sans-serif;
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 39.5px;
    margin: 40px 20%;
    min-width:  200px;
    height: 70%;
    overflow: auto; 
    text-align: center;
}
/*form*/

label {
    display: grid;
    text-align:start;
    padding: 10px  0;
    border-bottom: 2px solid rgb(219, 219, 219);
    font-size: 10.2px;
    color: rgba(88, 84, 84, 0.96);
}

input,
textarea,
select, 
button {
    border: none;
}

input, 
select, 
button {
    height: 35px;
}

.dropdown {
    margin-right: 5px;
    appearance: none;
    background-image: url("./assets/up-and-down-small-triangular-arrows-svgrepo-com.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right center;
}
button{
    background: linear-gradient(45deg, rgb(96, 203, 230), rgb(179, 69, 216));
    color: white;
    height: 35px;
    border-radius: 35px;
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
textarea{
    display: inline-block;
    height: 100px;
}

/*animations*/

button:hover {
    box-shadow: 3px 3px 5px gray;
    transition-duration: 0.2s;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
}

button:hover:after,
button:hover:before{
    display: inline-block;
    background-image: url("https://img.freepik.com/premium-vector/hand-drawn-grizzly-bear-sitting-pose_9645-2569.jpg?w=740");
    background-size: contain;
    background-repeat: no-repeat;
    content: " ";
    width: 25px;
    /* transform: scale(0.2, 0.2); */
    padding: 0;
    margin: 0; 
    /* width:fit-content; */
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 7px white;
} 