body {
    background: rgb(153,33,187);
background: radial-gradient(circle, rgba(153,33,187,1) 6%, rgba(103,183,233,1) 85%);
}

.container {
    display: grid;
    grid-template: 
    "left middle right" 100vh / 
    200px 1fr 200px;
    padding: 5px;
    gap: 5px
}

.left {
    grid-area: left;
    /* border: black 1px dashed; */
}

.middle {
    grid-area: middle;
    /* border: black 1px dashed; */

    display: grid;
    grid-template: "middle-con";
    grid-template-columns: 450px;
    grid-template-rows: 700px;
    padding: 5px;
    gap: 5px;
    place-content: center;
}

.middle-con {
    grid-area: middle-con;
    /* border: black 1px dashed; */

    display: grid;
    grid-template: 
    "say-hello-con"
    "your-name-con"
    "email-con"
    "choose-services-con"
    "budget-con"
    "message-con"
    "submit-button-con"
    ;
    grid-template-rows: repeat(7, 1fr) ;
    padding: 5px;
    gap: 5px;
    background-color: white;
    border-radius: 20px;

}

.say-hello-con {
    grid-area:say-hello-con ;
    /* border: black 1px dashed; */
    display: grid;
    place-items: center;

}

.say-hello-con > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    color: rgba(0, 0, 0, 0.79);
}

/* NAME */
.your-name-con{
grid-area:your-name-con ;
/* border: black 1px dashed;
 */
 border-bottom: silver 2px solid;
}


.your-name-con > form {
    margin-left: 50px;
}

label, input {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none
}

label > input {
    margin-top: 15px;
    width: 90%;
}

label {
    margin-top: 20px;
    
}

/* EMAIL */
.email-con{
    grid-area: email-con;
    /* border: black 1px dashed;
     */
     border-bottom: silver 2px solid;
     
     
    
}

.email-label {
    margin-left: 50px;
}


/* SERVICES */

.choose-services-con {
    grid-area: choose-services-con;
        /* border: black 1px dashed; */
        border-bottom: silver 2px solid;

    }

.services.con {
    display: block;
    
   
}
    
.services-label {
    margin-left: 50px;
    color: grey;
}

.services-select{
    margin-top: 10px;
    /* display: block; */
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    color: black;
    
}



/* BUDGET */

.budget-con {
grid-area:budget-con  ;
    /* border: black 1px dashed;
     */
     border-bottom: silver 2px solid;
     
}


.budget-con-wrap {
    display: block;
}

.budget-label {
    margin-left: 50px;
    color: grey;
}

.budget-select{
    margin-top: 10px;
    /* display: block; */
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    color: black;
    
}


/* MESSAGE */

.message-con {
grid-area: message-con;
    /* border: black 1px dashed; */
    border-bottom: silver 2px solid;
}


.message-con-wrap {
    display: block;
}

.message-label {
    margin-left: 50px;
    color: grey;
}

.message-text-area {
    /* border: none; */
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    border: none;
    /* position: fixed; */
   
    
    
    
}

/* SUBMIT */
.submit-button-con {
grid-area: submit-button-con;
    /* border: black 1px dashed; */
    /* display: grid;
    place-content: center; */

}

.submit-button {
    width: 90%;
    height: 80%;
    border-radius: 30px;
    background: rgb(153,33,187);
    background: radial-gradient(circle, rgba(153,33,187,1) 6%, rgba(103,183,233,1) 85%);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    margin-left: 20px;
    margin-top: 8px;
    
}

.submit-button-con > button > span {
    color: white;
    
}

.right {
    grid-area: right;
    /* border: black 1px dashed; */
}