* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(40deg, lightblue, rgba(0, 0, 255, 0.63), rgb(207, 3, 207));
}

form {
    display: grid;
    place-content: center;
    height: 100vh;
}
.form-container {
    display: grid;
    justify-content: center ;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.form-container > div {
    padding: 10px 0;
    width: 350px;
}

label, p {
    font-size: 12px;
    color: rgb(129, 125, 125);
    line-height: 2;
}

input::placeholder, textarea::placeholder {
    font-size: 16px;
    color: rgba(128, 128, 128, 0.474);
}

input, select, textarea {
    padding: 15px 0;
    border: none;
    border-bottom: solid 2px rgba(128, 128, 128, 0.474);
    width: 100%;
}

select {
    font-size: 14px;
}

.submit-button {
    border: none;
    border-radius: 20px;
    background: linear-gradient(to left, lightblue, rgba(0, 0, 255, 0.63), rgb(207, 3, 207));
    color: white;
    font-size: 15px;
}

form:invalid .submit-container {
    opacity: 0.3;
    pointer-events: none;
}

input:invalid, select:invalid, textarea:invalid {
    background-color: rgba(216, 112, 147, 0.153);
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.447);
}

input:valid, select:valid, textarea:valid {
    color: green;
}