@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100;200;300;400&family=Radio+Canada:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
html {
  --multiColour: rgb(153, 231, 225), rgb(93, 149, 213), rgb(113, 132, 201),
    rgb(145, 21, 145), rgb(197, 62, 242);
  --veryLightGrey: rgb(215, 215, 215);
  --greenSign: rgb(152, 225, 201);
  --redSign: lightsalmon;
  --greenGradient: rgb(7, 124, 104), rgb(93, 186, 226), rgb(50, 209, 156);
}
body,
#submit {
  background-image: linear-gradient(45deg, var(--multiColour));
}
main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    ". inputform ."
    ". inputform .";
  grid-template-columns: 1fr auto 1fr;
  grid-auto-flow: row;

  width: 100vw;
  height: 100vh;
}
h2,
p {
  text-align: center;
}

.inputForm,
.thankForm {
  background-color: white;

  padding: 1rem;
  border-radius: 1rem;
  width: fit-content;
  height: fit-content;

  grid-area: inputform;
  justify-self: center;
  align-self: center;
}
form {
  padding: 2rem;
  width:40rem;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  gap: 1rem;
}
input,
select,
textarea,
button {
  font-family: inherit;
}
input {
  border: none;
  border-bottom: 0.1rem solid var(--veryLightGrey);
  font-size: 1rem;

  padding: 0.5rem;
  transition: 5ms;

  transition: background-color 2s;

  /* 
ease-in will start the animation slowly, and finish at full speed.
ease-out will start the animation at full speed, then finish slowly.
ease-in-out will start slowly, be fastest at the middle of the animation, then finish slowly.
ease is like ease-in-out, except it starts slightly faster than it ends. */
}
input:required:valid {
  /*input:invalid+input:required:+input:optional+input:required:focus:valid::after*/
  background-color: var(--greenSign);
}
input:focus:invalid {
  background-color: var(--redSign);
}
#submit {
  border-radius: 0.5rem;
  color: white;
  transition: width 2s, height 2s, background-image 2s, transform 2s;
}
#submit:hover {
  justify-self: center;
  width: 10rem;
  height: 10rem;
  transform: rotate(180deg);
}

input:valid::after#submit:valid::after {
  background-image: linear-gradient(45deg, var(--greenGradient));
}
#messages {
  transition: width 5s ease-in-out;
}
#messages:hover,
#messages:focus {
  background-color: var(--veryLightGrey);
  color: white;
  width: 30rem;
}

@media screen and (max-width: 500px) {
  .inputForm,
  .thankForm {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  form {
    padding: 1rem;
    width:20rem;
    gap: 0.5rem;
  }
  input {
    font-size: 0.5rem;

    padding: 0.25rem;
  }
  #submit {
    border-radius: 0.25rem;
  }
  #submit:hover {
    width: 5rem;
    height: 5rem;
  }
  #messages:hover,
  #messages:focus {
    width: 10rem;
  }
}
@media screen and (max-width: 300px) {
    .inputForm,
    .thankForm {
      padding: 0.25rem;
      border-radius: 0.25rem;
    }
    form {
      padding: 0.5rem;
      width:15rem;
      gap: 0.25rem;
    }
    input {
      font-size: 0.25rem;
  
      padding: 0.125rem;
    }
    #submit {
      border-radius: 0.125rem;
    }
    #submit:hover {
      width: 2rem;
      height: 2rem;
    }
    #messages:hover,
    #messages:focus {
      width: 8rem;
    }
}
