* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.grid {
  display: grid;
}

body {
  place-items: center;
  height: 100vh;
  background: linear-gradient(45deg, rgb(97, 146, 226) 0%, 11.7188%, rgb(107, 131, 228) 23.4375%, 32.0312%, rgb(100, 141, 226) 40.625%, 47.0052%, rgb(151, 88, 234) 53.3854%, 66.5365%, rgb(169, 75, 238) 79.6875%, 89.8438%, rgb(186, 67, 239) 100%);
}

main {
  grid-template-rows: 50px 1fr;
  justify-content: center;
  border: 3px solid white;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  width: 30vw;
  height: 15vh;
  padding: 20px;
  place-items: center;
}

main > div > p {
  font-size: 2rem;
  text-align: center;
}